<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834039320104-t0mpmo60s11sq3ls1k4apfvdt7qmstcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834039320104-t0mpmo60s11sq3ls1k4apfvdt7qmstcc</string>
	<key>API_KEY</key>
	<string>AIzaSyANIyjD7TgVZOy6BN0J2nGW3piecqUOcYg</string>
	<key>GCM_SENDER_ID</key>
	<string>834039320104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rotcEmu</string>
	<key>PROJECT_ID</key>
	<string>rotc-emu</string>
	<key>STORAGE_BUCKET</key>
	<string>rotc-emu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834039320104:ios:67822fa85e2b8c0f6aef1d</string>
</dict>
</plist>